apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: ${IMAGE_NAME}
  name: ${IMAGE_NAME}
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app.kubernetes.io/name: ${IMAGE_NAME}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: ${IMAGE_NAME}
  name: ${IMAGE_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ${IMAGE_NAME}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ${IMAGE_NAME}
    spec:
      containers:
        - name: ${IMAGE_NAME}
          image: ${image_tag}

      imagePullSecrets:
        - name: regcred